@mixin headerStyle(){
    width: 100%;
    height: 500px;
    background-position: contain;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-bottom: 0;

}
@mixin naviStyle(){
    li {
        padding: 10px;
        font-weight: 300;
        color: dark;
    }
    li:first-child {
        border: 1px solid black;
    }
}



// -----------------------------------------------------------------------------------------

.header {
    @include headerStyle();
    background-image: url('../images/header_start_img.jpg');
    
    
}

.headerMain {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    li {
        list-style-type: none;
        margin: 0 10px;
        cursor: pointer;
        }
}

.headerLog, .headerNavi {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    width: 100%;
}

.headerLog {
    margin-top: 20px;
    margin-bottom: 15px;
    li:last-child {
        border: 1px solid orange;
    }
    li {
        padding: 5px;
        font-size: 70%;
        font-weight: 400;
        color: gray;
        a {
            color: inherit;
            text-decoration: none;
        }

    }
    
}

.headerNavi {
    @include naviStyle();
    
}

.headerMainElement {
    color: darkslategray;
    font-size: 200%;
    font-weight: 300;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    height: 50%;
    width: 70%;
    position: relative;
    bottom: 130px;
    right: -40px;
    .headerMainTitle {
        display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
        align-content: stretch;
        margin-bottom: 20px;
    }
    img {
        margin-top: 20px;
    }
}

.headerMainBoxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    .headerMainBox1, .headerMainBox2 {
        font-size: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 30%;
        height: 100px;
        display: flex;
        border: solid 1px black;
        text-transform: uppercase;
        cursor: pointer;
        a {
            color: inherit;
            text-decoration: none;
        }
    }

}

.headerMainBox1 {
    margin-left: 80px;
}

.headerMainBox2 {
    margin-right: 80px;
}