@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import 'header';
@import 'firstsection';
@import 'secondsection';
@import 'aboutsection';
@import 'aboutnextsection';
@import 'footer';

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1055px;
}
